.errmsg {
    color:red;
}

.container1 {
    margin-top: 15%;
    margin-left: 30px;
    margin-bottom: 20%;
    
    
}

.card-header1{
    text-align: center;
}


#apply-btn1 {
    text-align: center;
}

.card-footer1 {
    text-align: center;
}

.contact-details {
    margin-top: 15%;
    color: white;
    font-family:"Gill Sans", sans-serif;
    margin-right: 100px;
    font-weight: bold;
    font-size: 20px;
}

h1{
    font-weight: bold;
}


.bg {
    
    background-image: url("/src/Compoents/Images/gt_img3.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
      }
