.card-image {
    height: 100px;
    width:100px
}

.card-Img {
    flex-direction: row;
}

.card.flex-row.flex-wrap {
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border: solid black 3px;
}

i {
    padding: 5px;
    margin-left: 10px;
} 





